<% provide :title, t("all_user") %>
<h1><%= t "all_user" %></h1>
<div class="search-form">
  <%= search_form_for @q do |f| %>
    <div class="field">
      <%= f.text_field :name_cont, class: "form-control",
        placeholder: t("admin.users.search_placeholer") %>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table table-hover">
      <tr class="info">
        <th class="text"><%= t "users.name" %></th>
        <th class="text"><%= t "admin.users.table.email" %></th>
        <th><%= t "users.avatar" %></th>
      </tr>
      <% @users.each do |user| %>
        <tr>
          <td class="text"><%= link_to user.name, user %></td>
          <td class="text"><%= user.email%></td>
          <td>
            <%= image_tag(get_avatar_in_user(user),
              size: Settings.users.size) %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="page center">
      <%= paginate @users %>
    </div>
  </div>
</div>
