<% @requests.each_with_index do |request, index| %>
  <tr>
    <th class="index"><%= index_in_list index, Settings.requests.per_page %></th>
    <td class="text"><%= request.book_name %></td>
    <td class="date"><%= localize_time request.created_at %></td>
    <td class="number"><%= request.status %></td>
    <td class="number">
      <% if Request.statuses[request.status] == Request.statuses[:waitting] %>
        <%= link_to t("requests.table.delete"), request_path(request),
          method: :delete, data: {confirm: t("requests.table.confirm")},
          class: "glyphicon glyphicon-remove-circle text-danger" %>
      <% end %>
    </td>
  </tr>
<% end %>
