<div class="container-fluid">
  <h1><%= t "requests.all_my_request" %></h1>
  <%= link_to t("requests.table.add_request"), new_request_path,
    class: "btn btn-md btn-primary pull-right" %>
  <div class="search-form">
    <%= search_form_for @q do |f| %>
      <div class="field">
        <%= f.text_field :book_name_cont, class: "form-control",
          placeholder: t("requests.search_placeholer") %>
      </div>
    <% end %>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th class="index"><%= t "requests.table.index" %></th>
          <th class="text"><%= t "requests.table.content" %></th>
          <th class="date"><%= t "requests.table.create_at" %></th>
          <th class="number"><%= t "requests.table.status" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="requests-body">
        <%= render "request" %>
      </tbody>
    </table>
    <div class="page center">
      <%= paginate @requests %>
    </div>
  </div>
</div>
