<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h3><%= t "requests.show.title" %></h3>
    <p><%= @request.book_name %></p>
    <p>
      <%= t "requests.table.status" %>
      <%= @request.status %>
    </p>
    <p>
      <%= t "requests.table.create_at" %>
      <%= localize_time @request.created_at %>
    </p>
    <%= link_to t("admin.books.edit.back"), requests_path,
      class: "btn btn-primary" %>
  </div>
</div>
