<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-5">
    <%= link_to image_tag(get_picture(@book), size: Settings.books.size_details), @book %>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-7">
    <table class="table">
      <tr class="title">
        <th><%= t "books.title" %></th>
        <th><%= @book.title %></th>
      </tr>

      <tr class="Author">
        <th><%= t "books.author" %></th>
        <th><%= @book.author %></th>
      </tr>

      <tr class="publish_date">
        <th><%= t "books.publish_date" %></th>
        <th>
          <%= l @book.publish_date, format: :publish_date %>
        </th>
      </tr>

      <tr class="number_page">
        <th><%= t "books.number_page" %></th>
        <th><%= @book.number_of_page %></th>
      </tr>
      <% rate_average = @book.rate_average %>
      <tr class="star_rewview_book <%= t "hidden" if rate_average.nil? %>">
        <th><%= t "books.star" %></th>
        <th>
          <strong id="star_rewview_book" class="stat">
            <% if rate_average.present? %>
              <%= rate_average.round Settings.admin.books.round_rate_average %>
            <% end %>
          </strong>
          <%= image_tag Settings.star_on,
            size: Settings.books.size_star_details %>
        </th>
      </tr>
      <tr><td></td><td><%= social_share_button_tag @book.title %></td></tr>
      <tr>
        <td></td>
        <td>
          <div class="col-md-12" id="button_create">
            <button type="button" class="btn btn-primary mynewreview pull-right "
              data-toggle="modal" data-target="#mynewreview"
              data-whatever="@fat"><%= @button %></button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
<%= render "form_review" %>
