<% provide :title, t("admin.categories.all") %>
<div class="title">
  <%= link_to t("admin.categories.add_more_category"), new_admin_category_path,
    class: "btn btn-md btn-primary pull-right" %>
  <h1><%= t "admin.categories.all" %></h1>
</div>
<div class="search-form">
  <%= search_form_for [:admin, @q] do |f| %>
    <div class="field">
      <%= f.text_field :name_cont, class: "form-control",
        placeholder: t("admin.categories.search_placeholer") %>
    </div>
  <% end %>
</div>
<table class="table table-striped">
  <tr>
    <th><%= t "admin.categories.category_name" %></th>
    <th><%= t "admin.categories.books" %></th>
    <th></th><th></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.books.size %></td>
      <td>
        <%= link_to t("admin.categories.edit"), edit_admin_category_path(category),
          class: "btn btn-sm btn-info" %>
      </td>
      <td>
        <%= link_to t("admin.categories.remove"), admin_category_path(category),
          method: :delete, data: {confirm: t("admin.categories.sure")},
          class: "btn btn-sm btn-danger" %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @categories %>
<%= page_entries_info @categories %>
