<div class="container-fluid">
  <h1><%= t "requests.all_my_request" %></h1>
  <div class="search-form">
    <%= search_form_for [:admin, @q] do |f| %>
      <div class="field">
        <%= f.text_field :book_name_cont, class: "form-control",
          placeholder: t("requests.search_placeholer") %>
      </div>
    <% end %>
  </div>
  <br />
  <div>
    <table class="table table-hover">
      <thead>
        <tr class="info">
          <th class="index"><%= t "requests.table.index" %></th>
          <th class="text"><%= t "requests.table.user" %></th>
          <th class="text"><%= t "requests.table.content" %></th>
          <th class="date"><%= t "requests.table.create_at" %></th>
          <th class="date"><%= t "requests.table.status" %></th>
          <th></th>
        </tr>
      </thead>
      <tbody id="requests-body">
        <% @requests.each_with_index do |request, index| %>
          <tr>
            <th class="index">
              <%= index_in_list index, Settings.requests.per_page %>
            </th>
            <td class="text">
              <%= link_to request.user.email, request.user, class: "btn btn-md" %>
            </td>
            <td class="text"><%= request.book_name %></td>
            <td class="date"><%= localize_time request.created_at %></td>
            <td class="date">
              <span class="request_status_<%= request.id %>">
                <%= request.status %>
              </span>
            </td>
            <td class="date">
              <% if Request.statuses[request.status] == Request.statuses[:waitting] %>
                <button type="button" value="<%= request.id %>"
                  class="btn btn-primary btn_acceppt btn_acceppt_<%= request.id %>">
                  <%= t "requests.accept" %>
                </button>
                <button type="button" value="<%= request.id %>"
                  class="btn btn-danger btn_deny btn_deny_<%= request.id %>">
                  <%= t "requests.deny" %>
                </button>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class="page center">
      <%= paginate @requests %>
    </div>
  </div>
</div>
